body{
    margin: 0em;
    background-color: #3a3939;
}

#menu{
    margin: 0em;
    background-color: #fbe99e;
}

#izquierda{
    margin: auto;
    padding: 1.00em;
    max-width: 1000px;
    height: 600px;
    background-color: #3a3939; 
    color: white; 
}


#header1{
    background-color: #3a3939;
    text-align: center;
    color: black;
}

h1{
    font-size: 40px;
    color: #93ece9;
    text-align: center;
}

#p1{
    font-size: 18px;
    text-align: center;
}

#start{
    font-size: 25px;
    text-align: center;
}

#signup{
    position: relativate;
    display: inline-block;
    border: 2px solid;
    border-color: #fbe99e;
    padding: 5px 50px;
    color: #3a3939;
    text-decoration: none;
    background-color: #fbe99e;
    font-size: 25px;
    border-radius: 50px;
    transition: color 0.2s, background 0.2s;
    margin-right: 30px;
    letter-spacing: 5px;

}

#login{
    position: relativate;
    display: inline-block;
    border: 2px solid;
    border-color: #93ece9;
    padding: 5px 50px;
    color: #93ece9;
    text-decoration: none;
    font-size: 25px;
    border-radius: 100px;
    transition: color 0.2s, background 0.2s;
    letter-spacing: 5px;
    margin-left: 30px;
}

#signup:hover{
    color: #fbe99e;
    background-color: transparent;

}

#login:hover{
    color: #3a3939;
    background-color: #93ece9;
}

#formulario{
    width: 400px;
    height: 500px;
    background-color: #3a3939;
    color: black;
    top: 50%;
    left: 50%;
    margin: auto;
    box-sizing: border-box;
    padding: 1.00em;
    position: absolute;
    transform: translate(-50%, -15%);
    border-radius: 10px;
}

h2{
    margin: 0;
    padding: 0 0 20px;
    font-size: 30px;
    display: block;
    text-align: center;
    color: white;
    letter-spacing: 3px;
}

label{
    margin: 0;
    padding: 0;
    display: block;
    color: white;
}

input{
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

#comenzarxd{
    position: relativate;
    display: inline-block;
    border: 2px solid;
    border-color: white;
    padding: 1px 50px;
    color: #3a3939;
    text-decoration: none;
    font-size: 30px;
    border-radius: 100px;
    transition: color 0.2s, background 0.2s;
    letter-spacing: 3px;
    background-color: white;
}

#comenzarxd:hover{
    color: white;
    background-color: transparent;
}

#op{
    color: #93ece9;
    text-decoration: none;
}

#header2{
    width: 100%;
    overflow: hidden;
    background-color: #3a3939;
    margin-bottom: 20px;
}

/* cambios ollin */

.bodymenu{
    background-color:#3a3939;
}

.menun{
    background-color: #fbe99e;
    width: 100%;
    text-align: right;
    
}

.menua{
    text-decoration: none;
    font-size: 30px;
    font-family: Bebas Neue, cursive;
    color: #3a3939;
    background: transparent;
    margin: 3px;
    transition: color 0.2s, background 0.2s;
}

.menua:hover{
    color: #ffffff;
    background-color: transparent;

}

#menuimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
}

.imag{
    display: block;
}

.text{
    margin: auto;
    padding: 1.00em;
    max-width: auto;
    color: white;
    text-align: center;
    font-size: 20px;
}

/*menu desplegable*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

