body {
    margin: 0em;
    background-color: #3a3939;
    color: #3a3939;
    font-family: Montserrat;
}

.menun{
    font-size: large;
    background-color: #fbe99e;
    width: 100%;
}

h1{
    
    color: #93ece9;
}

.cabeza{
    font-size: larger;
    text-align: center;
}

#box {
    border: solid rgb(243, 158, 30) 3px;
    background-color: #fbe99e;
    font-size: large;
    text-align: justify;
    padding-top: 1%;
    padding-bottom: 1%;
}
